@import url(reset.css);

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:wght@200;300;400;500;600;700&family=Syne:wght@400;700&display=swap');

button{
    background-color: black;
    width: 40px;
    height: 30px;
}
.wrapper {
    
    margin: 0;
  }
  
    .wrapp{
      max-width: 1920px; 
  
    }
     .wrapcontainer {
      max-width: 1920px;
      margin: 0 auto;
      margin-left: 100px;
      margin-right: 100px;
  
    } 
     @media (max-width: 797px) {
      .wrapcontainer{
          margin-left: 0;
          margin-right: 0px;
      }
  .posts, .text, h3, .LOREM p{
    margin-left: 10px;
    margin-right: 10px;
  
  }
  h5{
    padding-top: 20px;
  }
  .call{
    height: 500px;
  }
  .footlogo ul {
    display: flex;
    justify-content: space-between !important;
    gap: 10px !important;
  }
  .blog{
      display: flex;
      justify-content: center;
      flex-direction: column;  
  
  }
      .home{
          display: flex;
          justify-content: center;
          flex-direction: column;
  
      }
  .saly{
      max-width: 270px;
  } 
   } 
  .call{
    height: 580px;
  }
    .head {
  padding-top: 10px;
      display: flex;
      gap: 31px;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
  
    }

  
  

   
  .list li{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
    .list {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Gotham', sans-serif;
  
    }
  
    .list li{
      padding-top: 12px;
    }
    .navbar input {
      display: none;
    }
    @media (max-width: 768px) {
      .list {
        position: absolute;
        background: rgba(255, 255, 255, 0.10);
  
  backdrop-filter: blur(7.5px);
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 0;
        left: 0px;
        top: 52px;
        transition: 0.4s ease-in-out;
        box-shadow: 0px 8px 26px 1px rgba(0, 0, 0, 0.50);
      }
  
  
  }
    .list li a {
      cursor: pointer;
      color: #424242;
    }
     @media (max-width: 796px) {
      .list li a{
        color: #000;
  padding: 0;
  
        font-size: 32px;
        font-weight: 400;
          display: flex;
          justify-content: center;
        }
        .list li .first:first-of-type{
            color: #000;
          font-size: 30px;
          font-weight: 700; 
        }
        .but{
          display: flex;
          border-radius: 9999px;
  opacity: 0.75;
  background: #FFF;
  justify-content: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
      max-width: 110px;
      height: 40px;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          align-items: center;
          color: #1F2937;
  
          margin-left: 85px;
      }
      .butli a{
        font-size: 16px !important;
  
      }
     
  }
  .spanb{
    color: #9D174D;
  }
    .list li a:hover,
    .list li a:active 
      {
      color: #000;
      font-weight: 600;
      transition: all 0.5s ease-in-out ;
    }
  
    @media (max-width: 796px) {
       .list li a:active,
    .list li a:hover{
      color: black;
      font-weight: 600;
      transition: all 0.3s ;
    } 
    .navbar input {
      display: none;
    }
  } 
  .myburger input {
      display: none;
    }  
    .myburger {
      display: none;
      position: relative;
      background: transparent;
      cursor: pointer;
      height: 20px;
      width: 26px;
    }
    @media (max-width: 796px) {
      .myburger {
         display: block;
       }
       .but1{
        align-items: center;
        margin: 0 auto;
       }

      }
    
    .spanb {
      display: block;
      position: absolute;
      background: #424242;
      border-radius: 10px;
      height: 2px;
      width: 25px;
    }
    
    .spanb:nth-child(1) {
      top: 0%;
    }
    
    .spanb:nth-child(2) {
      top: 50%;
    }
    
    .spanb:nth-child(3) {
      top: 100%;
    }
      input:checked ~ .list {
      padding-top: 80px;
      height: 530px;
      
    }
    input:checked ~ .myburger .spanb:nth-child(1) {
      transform: rotate(40deg);
      left: 3px;
      top: -3px; 
     
    }

.product{
    display: flex;

    max-width: 1620px;
  max-height: 778px;
    margin-top: 141px;
    justify-content: space-between;
}
.productdesignerstar{
    display: flex;
    justify-content: space-between;
max-width: 730px;
max-height: 695px;
}
.productdesigner{
    max-width: 580px;

}
    .productdes{
        color: #292929;
font-family: Anton;
font-size: 180px;
font-style: normal;
font-weight: 400;
line-height: 90%; 
letter-spacing: -6px;



    }
    .CRISTIAN{
        font-family: Anton;
        font-size: 102px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        letter-spacing: -3.42px;
    
        background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .star {
        width: 140px;
height: 140px;


    } 

.es{
    height: 100%;
    width: 580px;
    display: flex;
    justify-content: center;
}
    .linku{
        display: flex;
justify-content: space-between;  
gap: auto;  
max-width: 650px;
margin-top: 70px;
}
.linku p {
    width: 40px;
height: 40px;
}
.but{
    margin-top: 40px;
}
.download{
    display: flex;
    padding: 16px 24px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #292929;
height: 52px;
width: 100%;
color: var(--White, #FFF);

font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 400;



}

.green{
    border-radius: 29px;
border: 1px solid var(--main-colors-gray-10, #000);
background: var(--main-colors-green-05, #F6FFF6);
display: flex;
padding-left: 100px;
padding-top: 82px;
padding-right: 100px;
padding-bottom: 82px;
max-width: 1528px;
max-height: 372px;

margin-top: 144px;

}

/* .greentext{
    display: flex;
max-width: 300px;
justify-content: space-between;
align-items: center;
max-height: 208px;
gap: 21px;
padding-bottom: 82px;
}
.greenmimg{
max-width: 250px;
}
.jbs{
    max-width:287px ;
    max-height:208px ;
    gap: 21px;
}
.textj{
    color: var(--main-colors-green-7, #64C661);
text-align: center;
font-family: Anton;
font-size: 100px;
font-style: normal;
font-weight: 400;
max-width: 287px;

}
.job{
    color: var(--main-colors-green-7, #64C661);
text-align: center;

font-family: Gotham Black;
font-size: 30px;
font-style: normal;
font-weight: 500;

} */
.greentwo 
{display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;}

.text1{
    color: var(--main-colors-green-7, #64C661);
    text-align: center;
    font-family: Anton;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;  
}

.text2{
    color: var(--main-colors-green-7, #64C661);
    text-align: center;
    /* H1/Gotham/Black/Active/Center-Left */
    font-family: Gotham Black;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
}

.greentwo img{
    width: 65px;
    height: 65px;
}
.h1{
    color: var(--main-colors-gray-10, #000);
/* H0/Anton/Regular/Active/Left */
font-family: Anton;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 64px */
text-transform: uppercase;
margin-top: 200px;
margin-bottom: 23px;
}
.port{
    max-width: 1530px;  
   
}

.portfolioall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    row-gap: 30px;
  

}
.portcarts{
    border-radius: 10px;
    border: 1px solid var(--main-colors-gray-10, #000);
    background: var(--White, #FFF);    max-height: 420px;
    padding: 25px;
}
.portcarts > img{
    width: 100%;
}
.px{
margin-left: 100px;
margin-right: 100px;
}

h2{
    color: var(--main-colors-gray-4, #292929);
/* H2/Gotham/Bold/Active/Center-Left */
font-family: Gotham;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 28px */
letter-spacing: -1.4px;
margin-top: 23px;
margin-bottom: 23px;
}

.infobut{
    border-radius: 12px;
border: 1px solid var(--main-colors-purple-3, #BE9FF6);
background: var(--main-colors-purple-1, #E9DFFC);
width: 80px;
height: 24px;
color: var(--main-colors-purple-6, #784DC7);
/* P1/Gotham/Book/Active/Left */
font-family: Gotham;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
letter-spacing: -0.7px;
}
.buton{
    display: flex;
height: 24px;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 5px;
}

.figmac{
    display: flex;
    padding: 16px 24px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #292929;
height: 40px;
width: 260px;
font-family: Gotham;
font-size: 16px;
color: #FFF;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
letter-spacing: -0.8px;
text-transform: capitalize;
font-weight: 400;
margin-top: 23px;
margin-bottom: 30px;
}

.designdark, .h1dark{
  display: none;
}
.design{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.ux{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
border: 1px solid var(--main-colors-gray-15, #737373);
background: var(--White, #FFF);
max-width: 700px;
height: 320px;
display: flex;
padding: 40px 50px 60px 40px;
align-items: center;
gap: 20px;
flex: 1 0 0;
}



.maintext{
    color: var(--main-colors-gray-4, #292929);
/* H1/Gotham/Black/Active/Center-Left */
font-family: Gotham Black;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 36px */
letter-spacing: -1.8px;
}
.alltext{
    color: var(--main-colors-gray-4, #292929);
/* H4/Gotham/Book/Active/Left */
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 20px */
letter-spacing: -1px;
}

.destext{
    padding: 0;
    max-width: 400px;
}
.kaleb
{
    background: url(./img/light/unsplash_wHJ5L9KGTl4.svg), lightgray 50% / cover no-repeat;
    margin-top: 200px;
    max-width: 1920px;
    margin-left: 0;
    margin-right:0 ;
}

.kaleb img{
  display: block;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
padding-bottom: 147px;
}
.kale{
    color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 105%; /* 50.4px */
letter-spacing: -2.4px;
padding-top: 147px;
}

.working{
    color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: italic;
font-weight: 700;
line-height: 105%; /* 50.4px */
letter-spacing: -2.4px;
padding-top: 60px;
padding-bottom: 60px;
}
.maintitle{
  margin-top: 200px;
}
/* .blog1, .blog2{
  display: flex;
justify-content: center;

gap: 20px;

} */

.home1, .home2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hh2 {
  display: flex;
  gap: 10px;
  
}
.ph{
  color: var(--main-colors-gray-4, #292929);
/* H0/Anton/Regular/Active/Left */
font-family: Anton;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 64px */
text-transform: uppercase;
padding-bottom: 35px;

}
.hh2 img{
  width: 180px;
height: 29px;
margin-top: 15px;
}
@media (max-width: 1024px) {
  .portfolioall {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .design{
    display: flex;
  flex-direction: column;}
  .wrapp, .product, .green{
    max-width: 1020px;
  }
  .wrapcontainer{
    max-width: 1020px;
  }
  .es, .star{
    display: none;
  }
.productdesigner{
  display: flex;
  justify-content: center;
  flex-direction: column;  
}

  .productdesignerstar{
      display: flex;
      justify-content: center;
      flex-direction: column;

  }
}
  @media (max-width: 480px) {

    .portfolioall {
      gap: 10px;
    }
}
.LOREM{
  max-width: 600px;
  /* margin-right: 14px; */
  margin-bottom: 73px;
}

.LOREMM{
  margin-left: 72px;
  max-width: 600px;
}
.lorem{
  color: var(--main-colors-gray-3, #464646);
/* H1/Gotham/Black/Active/Center-Left */
font-family: Gotham ;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 36px */
letter-spacing: -1.8px;

}

.loremm{
  color: var(--main-colors-gray-3, #464646);
  /* H1/Gotham/Black/Active/Center-Left */
  font-family: Gotham ;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -1.8px;
text-align: right;
}
.pro{
  background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* H1/Gotham/Black/Active/Center-Left */
  font-family: Gotham Black;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.8px;
}
.photo{
  height: 100%;
  width: 660px;
  display: flex;
  justify-content: center;
}

.colom{
  background: linear-gradient(90deg, #FFE76A 6.02%, #65C8FF 7%, #65C8FF 14.18%, #65C8FF 20.09%, #F00 20.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* H1/Gotham/Black/Active/Center-Left */
  font-family: Gotham Black;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.8px;
}


footer{
  background: var(--main-colors-gray-4, #292929);
height: 283px;
width: 100%;
margin-left: 0px !important;
margin-right: 0px !important;
}

.footdiv{
  background: var(--main-colors-purple-4, #A87FF3);
border-radius: 15px;
height: 180px;
}


@media (max-width: 991px) {

.es, .star{
  display: none;
}

}

@media (max-width: 765px) {


}

.listdark{
  display: none;
}

.stardark{
  display: none;
}
.linksdark{
  display: none;
}

.greendark{
  display: none;
}

.h1dark,.portdark,.portfolioalldark, .maintitledark {
  display: none;
}

