@import url(reset.css);

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:wght@200;300;400;500;600;700&family=Syne:wght@400;700&display=swap');

button{
  position: relative;
  display: inline-block;
  background-color: #292926;
    width: 80px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    color: #FFF;
    font-family: 'Gotham';

}
.butli a{
  color: #FFF;
}
.logodark{
display: none;
}
.wrapper {
    
    margin: 0;
  }
  
    .wrapp{
      max-width: 1920px; 
  
    }
     .wrapcontainer {
      max-width: 1920px;
      margin: 0 auto;

  
    } 
    @media (max-width: 797px) {
      .wrapcontainer{
          margin-left: 0;
          margin-right: 0px;
      }}  

    .head {
  padding-top: 10px;
      display: flex;
      gap: 31px;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
  
    }

  
  

   
  .list li{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .but{
    color: #FFF !important;
  }
    .list {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Gotham', sans-serif;
  gap: 20px;
    }
  
    .list li{
      padding-top: 12px;
    }
    .navbar input {
      display: none;
    }
    @media (max-width: 991px) {
      .list {
        position: absolute;
        background: rgba(255, 255, 255, 0.10);
  
  backdrop-filter: blur(7.5px);
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 0;
        left: 0px;
        top: 52px;
        transition: 0.4s ease-in-out;
        box-shadow: 0px 8px 26px 1px rgba(0, 0, 0, 0.50);
      }
  
  
  }
    .list li a {
      cursor: pointer;
      color: #424242;
    }
     @media (max-width: 991px) {
      .list li a{
        color: #000;
  padding: 0;
  
        font-size: 32px;
        font-weight: 400;
          display: flex;
          justify-content: center;
        }
        .list li .first:first-of-type{
            color: #000;
          font-size: 30px;
          font-weight: 700; 
        }

      .butli a{
        font-size: 16px !important;
  
      }
     
  }
  .spanb{
    color: #9D174D;
  }   
       .but{
          display: flex;
          border-radius: 4px;
          background: var(--main-colors-gray-4, #292929);
          color: #FFF;
          padding: 12px 24px;
          justify-content: center;
          align-items: center;

      }
    .list li a:hover,
    .list li a:active 
      {
      color: #000;
      font-weight: 600;
      transition: all 0.5s ease-in-out ;
    }
  
    @media (max-width: 796px) {
       .list li a:active,
    .list li a:hover{
      color: black;
      font-weight: 600;
      transition: all 0.3s ;
    } 
    .navbar input {
      display: none;
    }
  } 
  .myburger input {
      display: none;
    }  
    .myburger {
      display: none;
      position: relative;
      background: transparent;
      cursor: pointer;
      height: 20px;
      width: 26px;
    }
    @media (max-width: 796px) {
      .myburger {
         display: block;
       }
       .but1{
        align-items: center;
        margin: 0 auto;
       }

      }
    
    .spanb {
      display: block;
      position: absolute;
      background: #424242;
      border-radius: 10px;
      height: 2px;
      width: 25px;
    }
    
    .spanb:nth-child(1) {
      top: 0%;
    }
    
    .spanb:nth-child(2) {
      top: 50%;
    }
    
    .spanb:nth-child(3) {
      top: 100%;
    }
      input:checked ~ .list {
      padding-top: 80px;
      height: 530px;
      
    }
    input:checked ~ .myburger .spanb:nth-child(1) {
      transform: rotate(40deg);
      left: 3px;
      top: -3px; 
     
    }
.lodolight{
  max-width: 100px;
}
.product{
    display: flex;

    max-width: 1620px;
  max-height: 778px;
    margin-top: 141px;
    justify-content: space-between;
}
.productdesignerstar{
    display: flex;
    justify-content: space-between;
max-width: 730px;
max-height: 695px;
}
.productdesigner{
    max-width: 580px;

}
    .productdes{
        color: #292929;
font-family: Anton;
font-size: 180px;
font-style: normal;
font-weight: 400;
line-height: 90%; 
letter-spacing: -6px;



    }
    .CRISTIAN{
        font-family: Anton;
        font-size: 102px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        letter-spacing: -3.42px;
    
        background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .star {
        width: 140px;
height: 140px;


    } 

.es{
    height: 100%;
    width: 580px;
    display: flex;
    justify-content: center;
}
    .linku{
        display: flex;
justify-content: space-between;  
gap: auto;  
max-width: 650px;
margin-top: 70px;
}
.linku p {
    width: 40px;
height: 40px;
}

.download{
    display: flex;
    padding: 16px 24px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #292929;
height: 52px;
width: 100%;
color: var(--White, #FFF);
margin-top: 40px;
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 400;



}

.green{
    border-radius: 29px;
border: 1px solid var(--main-colors-gray-10, #000);
background: var(--main-colors-green-05, #F6FFF6);
display: flex;
padding-left: 100px;
padding-top: 82px;
padding-right: 100px;
padding-bottom: 82px;
max-width: 1528px;

margin-top: 144px;

}

/* .greentext{
    display: flex;
max-width: 300px;
justify-content: space-between;
align-items: center;
max-height: 208px;
gap: 21px;
padding-bottom: 82px;
}
.greenmimg{
max-width: 250px;
}
.jbs{
    max-width:287px ;
    max-height:208px ;
    gap: 21px;
}
.textj{
    color: var(--main-colors-green-7, #64C661);
text-align: center;
font-family: Anton;
font-size: 100px;
font-style: normal;
font-weight: 400;
max-width: 287px;

}
.job{
    color: var(--main-colors-green-7, #64C661);
text-align: center;

font-family: Gotham Black;
font-size: 30px;
font-style: normal;
font-weight: 500;

} */
.greentwo 
{display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;}



@media (max-width: 768px) {

}



.text1{
    color: var(--main-colors-green-7, #64C661);
    text-align: center;
    font-family: Anton;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;  
}

.text2{
    color: var(--main-colors-green-7, #64C661);
    text-align: center;
    /* H1/Gotham/Black/Active/Center-Left */
    font-family: Gotham Black;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */
    letter-spacing: -1.8px;
}

.greentwo img{
    width: 65px;
    height: 65px;
}
.h1{
    color: var(--main-colors-gray-10, #000);
/* H0/Anton/Regular/Active/Left */
font-family: Anton;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 64px */
text-transform: uppercase;
margin-top: 200px;
margin-bottom: 23px;
}
.port{
    max-width: 1530px;  
   
}

.portfolioall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    row-gap: 30px;
  

}
.gri{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.car{
  border-radius: 10px;
  border: 1px solid var(--main-colors-gray-10, #000);
  background: var(--White, #FFF); 
  max-width: 400px;
  height: 419px; 
  padding: 30px;
}
.info{
  width: 100%;
}


.portcarts{
    border-radius: 10px;
    border: 1px solid var(--main-colors-gray-10, #000);
    background: var(--White, #FFF);    max-height: 420px;
    padding: 25px;
}
.portcarts > img{
    width: 100%;
}
.px{
margin-left: 100px;
margin-right: 100px;
}

h2{
    color: var(--main-colors-gray-4, #292929);
/* H2/Gotham/Bold/Active/Center-Left */
font-family: Gotham;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 28px */
letter-spacing: -1.4px;
margin-top: 23px;
margin-bottom: 23px;
}

.infobut{
    border-radius: 12px;
border: 1px solid var(--main-colors-purple-3, #BE9FF6);
background: var(--main-colors-purple-1, #E9DFFC);
width: 80px;
height: 24px;
color: var(--main-colors-purple-6, #784DC7);
/* P1/Gotham/Book/Active/Left */
font-family: Gotham;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
letter-spacing: -0.7px;
}
.buton{
    display: flex;
height: 24px;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 5px;
}

.figmac{
    display: flex;
    padding: 16px 24px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #292929;
height: 40px;
width: 100%;
font-family: Gotham;
font-size: 16px;
color: #FFF;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 16px */
letter-spacing: -0.8px;
text-transform: capitalize;
font-weight: 400;
margin-top: 23px;
margin-bottom: 50px;
}

.designdark, .h1dark{
  display: none;
}
.design{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.ux{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
border: 1px solid var(--main-colors-gray-15, #737373);
background: var(--White, #FFF);
max-width: 700px;
height: 320px;
display: flex;
padding: 40px 50px 60px 40px;
align-items: center;
gap: 20px;
flex: 1 0 0;
}



.maintext{
    color: var(--main-colors-gray-4, #292929);
/* H1/Gotham/Black/Active/Center-Left */
font-family: Gotham Black;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 36px */
letter-spacing: -1.8px;
}
.alltext{
    color: var(--main-colors-gray-4, #292929);
/* H4/Gotham/Book/Active/Left */
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 20px */
letter-spacing: -1px;
}

.destext{
    padding: 0;
    max-width: 400px;
}
.kaleb
{
    background: url(./img/light/unsplash_wHJ5L9KGTl4.svg), lightgray 50% / cover no-repeat;
    margin-top: 200px;
    max-width: 1920px;
    margin-left: 0;
    margin-right:0 ;
}

.kaleb img{
  display: block;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
padding-bottom: 147px;
}
.kale{
    color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;

padding-top: 147px;
}
.kalebdark{
  display: none;
}

.working{
    color: var(--White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: italic;
font-weight: 700;

padding-top: 60px;
padding-bottom: 60px;
}
.maintitle{
  margin-top: 200px;
}
/* .blog1, .blog2{
  display: flex;
justify-content: center;

gap: 20px;

} */

.home1, .home2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hh2 {
  display: flex;
  gap: 10px;
  
}
.ph{
  color: var(--main-colors-gray-4, #292929);
/* H0/Anton/Regular/Active/Left */
font-family: Anton;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 64px */
text-transform: uppercase;
padding-bottom: 35px;

}
.hh2 img{
  width: 180px;
height: 29px;
margin-top: 15px;
}

.LOREM{
  max-width: 600px;
  /* margin-right: 14px; */
  margin-bottom: 73px;
}

.LOREMM{
  margin-left: 72px;
  max-width: 600px;
}
.lorem, .loremdark{
  color: var(--main-colors-gray-3, #464646);
/* H1/Gotham/Black/Active/Center-Left */
font-family: Gotham ;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 36px */
letter-spacing: -1.8px;

}

.loremm{
  color: var(--main-colors-gray-3, #464646);
  /* H1/Gotham/Black/Active/Center-Left */
  font-family: Gotham ;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -1.8px;
text-align: right;
}
.pro{
  background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* H1/Gotham/Black/Active/Center-Left */
  font-family: Gotham Black;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.8px;
}
.photo{
  height: 100%;
  width: 660px;
  display: flex;
  justify-content: center;
}
.imgdark{
  display: none;
}
.colom{
  background: linear-gradient(90deg, #FFE76A 6.02%, #65C8FF 7%, #65C8FF 14.18%, #65C8FF 20.09%, #F00 20.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* H1/Gotham/Black/Active/Center-Left */
  font-family: Gotham Black;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.8px;
}


footer{
  background: var(--main-colors-gray-4, #292929);
height: 283px;
width: 100%;
margin-left: 0px !important;
margin-right: 0px !important;
}

.footdiv{
  background: var(--main-colors-purple-4, #A87FF3);
border-radius: 15px;
width: 100%;
max-height: 130px;
max-width: 1068px;
margin: 0 auto;
margin-top: 250px;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
margin-bottom: -85px;
}
.im{
  display: flex;
  margin-left: -300px;
  margin-bottom: 170px;
  max-height: 300px;  position: relative;

}
.footdiv p{
  color: #FFF;

/* H3/Gotham/Bold/Active/Center-Left */
font-family: Gotham;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 22px */
letter-spacing: -1.1px;
text-align: center;
max-width: 470px;
}

.footall{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
}
.listfooter li a{
  color: #fff;
}
.listfooter {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Gotham', sans-serif;
gap: 30px;
}
@media (max-width: 991px) {

.es, .star{
  display: none;
}

}

@media (max-width: 765px) {


}

.listdark{
  display: none;
}

.stardark{
  display: none;
}
.linksdark{
  display: none;
}

.greendark{
  display: none;
}
.blog3{
  display: none;
}
.h1dark,.portdark,.portfolioalldark, .maintitledark {
  display: none;
}



/* .portcarts{
  max-height: 700px;
} */
/* .portcarts img{
  max-width: 100%;
  padding: 30px;
} */


.listsizec{
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
   .portfolioall {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 35px;

  } 
  .productdesigner{
    display: flex;
    justify-content: center;
    flex-direction: column;  
  text-align: center;
  }
.greem{
  max-width: 1024px;
}
.text1{
  font-size: 70px !important;
 }
 .text2{
  font-size: 50px !important;
 }
  .design{
    display: flex;
  flex-direction: column;}
  .wrapp, .product, .green{
    max-width: 1020px;
  }
  .wrapcontainer{
    max-width: 1020px;
  }
  .es, .star{
    display: none;
  }
.productdesigner{
  display: flex;
  justify-content: center;
  flex-direction: column;  
}

  .productdesignerstar{
      display: flex;
      justify-content: center;
      flex-direction: column;

  }
  .kaleb{
    max-width: 1024px;
  }
  .portcarts{
    max-width: 500px;
    max-height: 600px;
  }

  .green{
    max-width: 854px;
  }
}
  /* @media (max-width: 480px) {

    .portfolioall {
      gap: 10px;
    }
} */@media (max-width: 1024px) {

  .product{
    display: flex;
    justify-content: center;
  }
  .px{
    margin-left: 15px;
    margin-right: 15px;
  }
  .ph{
    font-size: 50px;
  }
  .hh2 img{
    max-width: 100px;
  }

  .ux{
    max-width: 100%;
  }
  .design{
    max-width: 1020px;

  }
  .px{
        margin-left: 15px;
    margin-right: 15px;
  }






.productdes{
  font-size: 170px;
}
.green{
  max-width: 970px;
}
.greentwo{
  padding-left: 5px;
  gap: 5px;
}
.text1{
  font-size: 65px;
}
.text2{
  font-size: 40px;
}
}
@media (max-width: 991px) {

   .portfolioall{
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
max-width: 600px; */
margin-left: 15px; 
 } 

 .text1{
  font-size: 50px !important;
 }
 .text2{
  font-size: 30px !important;
 }
}


 @media (max-width: 797px) {
      .wrapcontainer{
          margin-left: 0;
          margin-right: 0px;
      }
  .posts, .text, h3, .LOREM p, .LOREMdark p {
    margin-left: 10px;
    margin-right: 10px;
  
  }
  .LOREM p, .LOREMM p, .pro, .colom, .LOREMdark p{
    font-size: 25px;
  }

  .lorem, .loremdark{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h5{
    padding-top: 20px;
  }
  .footall img{
    max-width: 200px;
    max-height: 110px;
    text-align: center;
  }
  .call{
    height: 500px;
  }
  .footlogo ul {
    display: flex;
    justify-content: space-between !important;
    gap: 10px !important;
  }
  .blog{
      display: flex;
      justify-content: center;
      flex-direction: column;  
  
  }
      .home{
          display: flex;
          justify-content: center;
          flex-direction: column;
  
      }
  .saly{
      max-width: 270px;
  } 
   } 
@media (max-width: 797px) {

  .productdes{
    font-size: 110px;
  }
  
  .CRISTIAN{
    font-size: 69px;
  
  }

}@media (max-width: 768px) {

  }
@media (max-width: 768px) {
 .green{
  display: flex;
padding: 82px ;
flex-direction: column;
justify-content: center;
  height: 800px;
  margin-top: 172px !important;
  margin-left: 15px;
  margin-right: 15px;
}

.blog3{
  display: block;
}
  .greentwo{
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    max-height: none;
  }

  .text1{
    font-size: 50px !important;

  }
  .text2{
    font-size: 22px !important;
  }
  .h1{
    margin-left: 15px;
    margin-right: 15px;
  }
   .ux{
    display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
text-align: center; 
margin-left: 15px;
margin-right: 15px; }

.alltext{
  padding-top: 10px;
}
.design{
  margin-top: 20px;
}
  .portfolioall, .portfolioalldark {
    width: 95%;
  }
  .portcarts{
    max-width: 96%;
  }
  .img2{
    max-width: 70px;
    margin-top: -70px;  }
  .im{
    display: flex;
    position: relative;
    margin-left: -25px;
    max-width: 170px;
    margin-bottom: 110px;
  }
  .footdiv p {
    font-size: 12px;
  }
  .img1{
    display: none;
  }
.px{
  margin-left: 0;
  margin-right: 0;
}
.product
{
margin-left: 15px;
margin-right: 15px;
  max-width: 700px;
}

.productdesigner{
  display: flex;
  justify-content: center;
  flex-direction: column;  
text-align: center;
}
.productdes{
  font-size: 95px;
}

.CRISTIAN{
  font-size: 54px;

}

.kale{
  font-size: 24px !important;

}

.working{
  font-size: 24px !important;
font-weight: 500 !important;
}.hh2 img{
  display: none;
}

.ph{
  font-size: 50px !important;

}

.home1, .home3{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blog2{
  display: none;
}

.blog3, .home3{
  display: block;
}

.gri{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}
.footdiv{
  max-width: 760px;

}
.img2{
  max-width: 70px;
  margin-top: -70px;
}
.footall{
  display: flex;
  flex-direction: column;
}
.listfooter{
  gap: 15px;
  margin: 0 ;
  padding-top: 20px;
}
.listfooter li a {
  font-size: 14px;
}
}
@media (max-width: 600px) {
.portfolioall{
 gap: 5px; 
}


}


@media (max-width: 540px) {
.portfolioall{
  grid-template-columns: repeat(1, 1fr) !important;
  grid-template-rows: repeat(4, 1fr) !important;
}}
@media (max-width: 500px) {
.productdesigner{
  text-align: center;
}
  .productdes{
    font-size: 110px;
  }
  
  .CRISTIAN{
    font-size: 69px;
  
  }
}
@media (max-width: 370px) {

.productdes{
  font-size: 92px !important;
}

.CRISTIAN{
  font-size: 55px !important;

}}